In [7]:
import numpy as np
import pandas as pd
from k_means_constrained import KMeansConstrained
import seaborn as sns
import matplotlib

In [2]:
stores = pd.read_csv("../../own_data/stores.csv")[['lon', 'lat']]

In [3]:
stores.head()

         lon        lat
0  10.204928  59.743104
1  10.734031  59.913759
2  10.254656  60.164751
3  14.379796  67.283669
4  10.374832  63.358068

In [12]:
kmeans = KMeansConstrained(
     n_clusters=70,
     size_min=50,
     max_iter=100,
     n_init=4,
     random_state=0
)
data_kmeans = kmeans.fit_predict(stores)
%matplotlib qt
sns.scatterplot(x=stores.lon, y=stores.lat, s=10, hue=data_kmeans, palette="deep")